:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    
    
}

@font-face {
    font-family: 'Outfit';
    src: url(fonts/Outfit/Outfit-VariableFont_wght.ttf);
  }
body {
    background-image: url('images/pattern-background-mobile.svg');
    background-color: var(--Very-dark-blue-main);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    color: var(--Soft-blue);
    margin: 0;
}
hr {border-color: var(--Soft-blue);}
.card {
    max-width: 300px;
    height: 546px;
    background-color: var(--Very-dark-blue-card);
    border-radius: 20px;
    padding: 25px;
}

.card__img {
    height: 300px;
    position: relative;
    background-color: var(--Cyan);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__img--top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.card__img--base {
    width: 50px;
    border-radius: 20px;
}
.card__img--top:hover{
    opacity: 0.4;
}

.card__title {
    margin: 24px 0;
    font-size: 1.36rem;
    font-weight: 600;
    color: var(--White);
}

.card__description {
    font-size: 1.12rem;
    font-weight: 400;
}


.card__group {
    display: flex;
    justify-content: space-between;
}
.card__line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.card__price{
    color: var(--Cyan);
}
.card__text--white {
    color: var(--White);
}

.card__avatar {
    width: 35px;
    height: 35px;
}
.card__title:hover, .card__text--white:hover {
    color: var(--Cyan);
}
